In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
sales_2021_path = r"C:\Users\Chris\ASU Repo\ASU-VIRT-AI-PT-11-2023-U-LOLC\02-Challenges\05-Pandas-Data-Preparation-2\athletic_sales_2021.csv"
sales_2020_path = r"C:\Users\Chris\ASU Repo\ASU-VIRT-AI-PT-11-2023-U-LOLC\02-Challenges\05-Pandas-Data-Preparation-2\athletic_sales_2020.csv"

# Read the CSV files into DataFrames
sales_2021 = pd.read_csv(sales_2021_path)
sales_2020 = pd.read_csv(sales_2020_path)

In [5]:
# Display the 2020 sales DataFrame
print(sales_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [6]:
# Display the 2021 sales DataFrame
print(sales_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [7]:
# Check the 2020 sales data types.
data_types_2020 = sales_2020.dtypes

In [8]:
# Check the 2021 sales data types.
data_types_2021 = sales_2021.dtypes

#### Combine the sales data by rows.

In [9]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales = pd.concat([sales_2020, sales_2021], ignore_index=True)

In [10]:
# Check if any values are null.
null_values = combined_sales.isnull().any()

# Display the result
print(null_values)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [11]:
# Check the data type of each column
combined_data_types = combined_sales.dtypes

# Display the data types
print(combined_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [12]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

C:\Users\Chris\AppData\Local\Temp\ipykernel_8884\1368169339.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

In [13]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [18]:
# Show the number products sold for region, state, and city.
# Group the data by region, sum the units_sold, and rename the sum column
products_sold_by_region = combined_sales.groupby('region').agg(Total_Products_Sold=('units_sold', 'sum')).reset_index()

# Sort the results in descending order to get the regions with the most products sold
top_regions_products_sold = products_sold_by_region.sort_values('Total_Products_Sold', ascending=False)

# Display the results
print(top_regions_products_sold)

      region  Total_Products_Sold
4       West               685563
1  Northeast               501279
2      South               492260
3  Southeast               407000
0    Midwest               390914

#### Using `pivot_table`

In [19]:
# Show the number products sold for region, state, and city.
pivot_table_region = combined_sales.pivot_table(values='units_sold', index='region', aggfunc='sum')

# Rename the aggregated column to "Total_Products_Sold" for clarity
pivot_table_region.columns = ['Total_Products_Sold']

# Sort the results in descending order to get the regions with the most products sold
top_regions_products_sold = pivot_table_region.sort_values('Total_Products_Sold', ascending=False)

# Display the results
print(top_regions_products_sold)

           Total_Products_Sold
region
West                    685563
Northeast               501279
South                   492260
Southeast               407000
Midwest                 390914

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [20]:
# Group the data by region, sum the total_sales, and rename the sum column
sales_by_region_groupby = combined_sales.groupby('region').agg(Total_Sales=('total_sales', 'sum')).reset_index()

# Sort the results in descending order to find the region with the most sales
top_sales_region_groupby = sales_by_region_groupby.sort_values('Total_Sales', ascending=False)

# Display the sorted results for groupby
print(top_sales_region_groupby)

      region  Total_Sales
4       West    269377190
1  Northeast    186324067
3  Southeast    163171236
2      South    144663181
0    Midwest    135649897

#### Using `pivot_table`

In [21]:
# Show the total sales for the products sold for each region, state, and city.
# Create a pivot table to sum total_sales for each region
pivot_table_region_sales = combined_sales.pivot_table(values='total_sales', index='region', aggfunc='sum')

# Rename the aggregated column to "Total_Sales" for clarity
pivot_table_region_sales.columns = ['Total_Sales']

# Sort the pivot table in descending order to find the region with the most sales
top_sales_region_pivot = pivot_table_region_sales.sort_values('Total_Sales', ascending=False)

# Display the sorted pivot table
print(top_sales_region_pivot)

           Total_Sales
region
West         269377190
Northeast    186324067
Southeast    163171236
South        144663181
Midwest      135649897

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [22]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Group the data by retailer, sum the total_sales, and rename the sum column
sales_by_retailer_groupby = combined_sales.groupby('retailer').agg(Total_Sales=('total_sales', 'sum')).reset_index()

# Sort the results in descending order to find the retailer with the most sales
top_sales_retailer_groupby = sales_by_retailer_groupby.sort_values('Total_Sales', ascending=False)

# Display the sorted results for groupby
print(top_sales_retailer_groupby.head())

        retailer  Total_Sales
5      West Gear    242398341
1    Foot Locker    220094720
3  Sports Direct    182470997
2         Kohl's    101964191
0         Amazon     77698912

#### Using `pivot_table`

In [23]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Create a pivot table to sum total_sales for each retailer
pivot_table_retailer_sales = combined_sales.pivot_table(values='total_sales', index='retailer', aggfunc='sum')

# Rename the aggregated column to "Total_Sales" for clarity
pivot_table_retailer_sales.columns = ['Total_Sales']

# Sort the pivot table in descending order to find the retailer with the most sales
top_sales_retailer_pivot = pivot_table_retailer_sales.sort_values('Total_Sales', ascending=False)

# Display the sorted pivot table
print(top_sales_retailer_pivot.head())

               Total_Sales
retailer
West Gear        242398341
Foot Locker      220094720
Sports Direct    182470997
Kohl's           101964191
Amazon            77698912

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [24]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_sales[combined_sales['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [25]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Filter the combined sales data for Women's Athletic Footwear
womens_athletic_footwear_sales = combined_sales[combined_sales['product'] == "Women's Athletic Footwear"]

# Group the filtered data by retailer, region, state, and city, sum the units_sold, and rename the sum column
womens_footwear_units_sold = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Womens_Footwear_Units_Sold=('units_sold', 'sum')).reset_index()

# Sort the results in descending order to get the top 5 results
top_womens_footwear_units_sold = womens_footwear_units_sold.sort_values('Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print(top_womens_footwear_units_sold)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [26]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Filter the combined sales data for Women's Athletic Footwear
womens_athletic_footwear_sales = combined_sales[combined_sales['product'] == "Women's Athletic Footwear"]

# Create a pivot table to sum units_sold for Women's Athletic Footwear for each combination of retailer, region, state, and city
pivot_table_womens_footwear = womens_athletic_footwear_sales.pivot_table(values='units_sold', 
                                                                          index=['retailer', 'region', 'state', 'city'], 
                                                                          aggfunc='sum')

# Rename the aggregated column to "Womens_Footwear_Units_Sold" for clarity
pivot_table_womens_footwear.columns = ['Womens_Footwear_Units_Sold']

# Convert the pivot table to a DataFrame for sorting
pivot_table_womens_footwear_df = pivot_table_womens_footwear.reset_index()

# Sort the DataFrame in descending order to get the top 5 results
top_womens_footwear_units_sold_pivot = pivot_table_womens_footwear_df.sort_values('Womens_Footwear_Units_Sold', ascending=False).head(5)

# Display the top 5 results
print(top_womens_footwear_units_sold_pivot)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [27]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'])

# Create the pivot table with 'invoice_date' as the index, and "total_sales" as the values
pivot_table_sales_date = combined_sales.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales" for clarity
pivot_table_sales_date.columns = ['Total Sales']

# Display the pivot table
print(pivot_table_sales_date)

              Total Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2021-12-27         602353
2021-12-28         301010
2021-12-29         211109
2021-12-30         167903
2021-12-31         198659

[723 rows x 1 columns]

In [29]:
# Resample the pivot table into daily bins and sum the total sales for each day
daily_sales_resampled = pivot_table_sales_date.resample('D').sum()

# Sort the resampled pivot table in ascending order based on "Total Sales"
daily_sales_resampled_sorted = daily_sales_resampled.sort_values('Total Sales', ascending=True)

# Display the sorted resampled pivot table
print(daily_sales_resampled_sorted)

              Total Sales
invoice_date
2020-12-31              0
2020-10-11              0
2020-10-12              0
2020-10-13              0
2020-10-14              0
...                   ...
2021-07-23        7689134
2021-08-17        9517031
2021-06-17       10239903
2021-12-16       10871121
2021-07-16       12261098

[731 rows x 1 columns]

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [30]:
# Resample the pivot table into weekly bins and sum the total sales for each week
weekly_sales_resampled = pivot_table_sales_date.resample('W').sum()

# Sort the resampled pivot table in ascending order based on "Total Sales"
weekly_sales_resampled_sorted = weekly_sales_resampled.sort_values('Total Sales', ascending=True)

# Display the sorted resampled pivot table
print(weekly_sales_resampled_sorted)

              Total Sales
invoice_date
2020-10-18         251468
2020-12-13         466322
2020-12-20         590227
2020-12-06         739673
2020-11-22         927605
...                   ...
2021-08-22       22225401
2021-12-12       23250286
2021-12-19       24698535
2021-07-18       24731702
2021-07-11       26271380

[105 rows x 1 columns]